@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

// select
$height: 46px;

.select {
  width: 100%;
  position: relative;
  z-index: 100;

  &__backdrop {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__input {
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span,
    i {
      pointer-events: none;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: 0.15s background-color ease-in;

    &:hover {
      background-color: #eee;
    }

    &:last-child {
      border-bottom: none;
    }

    &.selected {
      background-color: bisque;
    }
  }

  &.open {
    .select__backdrop {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__dropdown {
      display: block;
    }
  }
}